<div class="col-md-12 col-sm-12">
  <h1>About Extenda</h1>
  <p id="logo-paragraph"><%= image_tag "extenda_logo.png"%> </p>
  <p>Extenda Communications was founded in 1969 in Los Angeles, CA. Our mission since our inception has been to provide small and medium sized businesses with the communications systems, features, and expert service available to big companies.</p>
  <h2>Leading the Charge</h2>
  <p>Extenda has been at the forefront of change since the breakup of the national telephone monopoly. From the first imported telephone systems from Mitel and Telrad, to the first PC-based phone systems with the Inter-Tel Axxent, to the first commercially available IP telephones in the late 1990s to our current lineup of software-based telephony solutions from Zultys and Mitel, Extenda has been at the cutting edge of technology.</p>
  <h2>Introducing ExtendaCloud</h2>
</div>

<div id="cloud_system_service_locations">
  <div class="col-md-12 col-sm-12">
    <h1>Cloud Telephone System Support</h1>
  </div>
  <div class="col-md-6 col-sm-6">
    <h3>Greater Los Angeles and Coachella Valley</h3>
    <p>Since our founding we have been committed to serving the Los Angeles area. 
    We have telephone system sales, service, training and consultation in the following cities in LA County: Agoura Hills, Alhambra, Arcadia, Artesia, Avalon, Azusa, Baldwin Park, Bell, Bell Gardens, Bellflower, Beverly Hills, Bradbury, Burbank, Calabasas, Carson, Cerritos, Claremont, Commerce, Compton, Covina, Cudahy, Culver City, Diamond Bar, Downey, Duarte, El Monte, El Segundo, Gardena, Glendale, Glendora, Hawaiian Gardens, Hawthorne, Hermosa Beach, Hidden Hills, Huntington Park, Industry, Inglewood, Irwindale, La Cañada Flintridge, La Habra Heights, La Mirada, La Puente, La Verne, Lakewood, Lancaster, Lawndale, Lomita, Long Beach, Los Angeles, Lynwood, Malibu, Manhattan Beach, Maywood, Monrovia, Montebello, Monterey Park, Norwalk, Palmdale, Palos Verdes Estates, Paramount, Pasadena, Pico Rivera, Pomona, Rancho Palos Verdes, Redondo Beach, Rolling Hills, Rolling Hills Estates, Rosemead, San Dimas, San Fernando, San Gabriel, San Marino, Santa Clarita, Santa Fe Springs, Santa Monica, Sierra Madre, Signal Hill, South El Monte, South Gate, South Pasadena, Temple City, Torrance, Vernon, Walnut, West Covina, West Hollywood, Westlake Village, Whittier
    </p>
    <p>We provide telephone service and cloud-based telephone systems to a number of communities, including: Acton, Agua Dulce, Alondra Park, Altadena, Avocado Heights, Castaic, Charter Oak, Citrus, Del Aire, Desert View Highlands, East Los Angeles, East Pasadena, East Rancho Dominguez, East San Gabriel, East Whittier, Elizabeth Lake, Florence-Graham, Green Valley, Hacienda Heights, Hasley Canyon, La Crescenta-Montrose, Ladera Heights, Lake Hughes, Lake Los Angeles, Lennox, Leona Valley, Littlerock, Marina del Rey, Mayflower Village, North El Monte, Quartz Hill, Rose Hills, Rowland Heights, San Pasqual, South Monrovia Island, South San Gabriel, South San Jose Hills, South Whittier, Stevenson Ranch, Sun Village, Topanga, Val Verde, Valinda, View Park-Windsor Hills, Vincent, Walnut Park, West Athens, West Carson, West Puente Valley, West Rancho Dominguez, West Whittier-Los Nietos, Westmont, Willowbrook
    </p>
    <p>We also serve the unincorporated communities of LA county: Agoura, Alla, Alpine, Alsace, Altacanyada, Andrade Corner, Antelope Acres, Antelope Center, Athens, Aurant, Bassett, Big Pines, Castaic Junction, City Terrace, Cornell, Del Sur, Del Valle, Firestone Park, Florence, Gorman, Hillgrove, Hi Vista, Indian Springs, Juniper Hills, Kagel Canyon, Kinneloa Mesa, Largo Vista, Llano, Malibu Vista, Monte Nido, Neenach, Ninetynine Oaks, Pearblossom, Rancho Dominguez, Sandberg, Seminole Hot Springs, Three Points, Two Harbors, Universal City, Valyermo
    </p>
  </div>
  <div class="col-md-6 col-sm-6">
    <h3>Riverside and the Coachella Valley</h3>
    <p> We proudly service cities and communities throughout Riverside, including: Banning, Beaumont, Blythe, Calimesa, Canyon Lake, Cathedral City, Coachella, Corona, Desert Hot Springs, Eastvale, Hemet, Indian Wells, Indio, Jurupa Valley, Lake Elsinore, La Quinta, Menifee, Moreno Valley, Murrieta, Norco, Palm Desert, Palm Springs, Perris, Rancho Mirage, Riverside, San Jacinto, Temecula, and Wildomar.
    </p>
    <h3>Orange County Telephone System Service</h3>
    <p>We are also proud to service customers throughout Orange County. We servie the communities of: Aliso Viejo, Anaheim, Brea, Buena Park, Costa Mesa, Cypress, Dana Point, Fountain Valley, Fullerton, Garden Grove, Huntington Beach, Irvine, La Habra, La Palma, Laguna Beach, Laguna Hills, Laguna Niguel, Laguna Woods, Lake Forest, Los Alamitos, Mission Viejo, Newport Beach, Orange, Placentia, Rancho Santa Margarita, San Clemente, San Juan Capistrano, Santa Ana, Seal Beach, Stanton, Tustin, Villa Park, Westminster, Yorba Linda.
    </p>
  </div>
</div>