/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


div#cutphonecord_image {
  margin-bottom: 5%;
}
#cutphonecord_image img {
  width: 90%;
  max-width: 400px;
  text-align: center;
}

#carousel-homepage h3, #carousel-homepage span {
  color: #f39c12;
}

#carousel-homepage .carousel-indicators li {
  background-color: #f39c12;
}

#carousel-homepage .carousel-indicators .active {
  background-color: #f34c09
}

p#logo-paragraph {
  float: right;
}

#cloud_system_service_locations h1 {
  font-size: 14px;
}

#cloud_system_service_locations h3 {
  font-size: 11px;
}

#cloud_system_service_locations p {
  font-size: 9px;
}